body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 40rem;
  margin: auto;
  padding: 1.25rem; /* 20px */
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.625rem; /* 10px */
}

.container .preparation-time {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  background-color: hsl(330, 100%, 98%);
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
}

.container ul {
  color: hsl(30, 10%, 34%);
  font-size: 1rem;
  font-family: 'Outfit', sans-serif;
  padding-left: 1.25rem;
}

.container ul li {
  margin-bottom: 0.5rem;
  padding-left: 0.9375rem;
}

.container ol {
  color: hsl(30, 10%, 34%);
  font-size: 1rem;
  font-family: 'Outfit', sans-serif;
  padding-left: 1.25rem;
}

.container ol li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.container ol li {
  margin-bottom: 0.5rem;
  padding-left: 0.9375rem;
}

.container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.25rem;
  font-family: 'Outfit', sans-serif;
  color: hsl(24, 5%, 18%);
}

.container th {
  padding-left: 1.875rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: left;
  font-weight: 400;
}

.container td {
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: left;
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.container tr {
  border-bottom: 1px solid #ccc;
}

.section-divider {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

h1 {
  font-family: 'Young Serif', serif;
  font-weight: 600;
}

h2 {
  font-family: 'Young Serif', serif;
  font-weight: bold;
  color: hsl(14, 45%, 36%);
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}

h3 {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: hsl(14, 45%, 36%);
}

p {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
  line-height: 1.5;
}
