body{
    background-color: hsl(30, 54%, 90%);
}

.container{
    max-width: 620px;
    margin: auto;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.container .preparation-time{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: hsl(330, 100%, 98%);
    padding: 10px 20px;
    border-radius: 10px;
}
.container ul{
    color: hsl(30, 10%, 34%);
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    padding-left: 20px;
}
.container ul li{
    margin-bottom: 8px;
    padding-left: 15px;
}

.container ol{
    color: hsl(30, 10%, 34%);
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    padding-left: 20px;
}
.container ol li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}
.container ol li{
    margin-bottom: 8px;
    padding-left: 15px;
}
.container table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Outfit', sans-serif;
    color: hsl(24, 5%, 18%);
}
.container th {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    font-weight: 400;
}
.container td {
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    color:hsl(14, 45%, 36%);
    font-weight: 700;
}
.container tr{
    border-bottom: 1px solid #ccc;
}

.section-divider{
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 16px;
  margin-bottom: 32px;
}

h1{
    font-family: 'young-serif', serif;
    font-weight: 600;
}

h2{
    font-family: 'young-serif', serif;
    font-weight: bold;
    color: hsl(14, 45%, 36%);
    margin-top: 20px;
    margin-bottom: 10px;
}

h3{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}

p{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    line-height: 1.5;
}